@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}
input[type="file"] {
  display: none;
}

body, html{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #F9FAFB ;
  @apply dark:bg-[#121826];
}
